# Dataset 2

## Basic Imports and Setting up data related variables

### importing numpy and pandas also sklearn for errors

In [449]:
import numpy as np 
import pandas as pd
from sklearn.metrics import accuracy_score

### Importing and looking at the data

In [450]:
main_df = pd.read_csv("breast-cancer-wisconsin.data",header = None)
main_df.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [451]:
main_df.describe()

,0,1,2,3,4,5,7,8,9,10
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [452]:
names_mapper = {
    0:"Sample_Code_Number",
    1:"Clump_Thickness",
    2:"Uniformity_of_Cell_Size", 
    3:"Uniformity_of_Cell_Shape", 
    4:"Marginal_Adhesion", 
    5:"Single_Epithelial_Cell_Size", 
    6:"Bare_Nuclei", 
    7:"Bland_Chromatin", 
    8:"Normal_Nucleoli", 
    9:"Mitoses", 
    10:"Class"
}

main_df.rename(axis="columns", mapper=names_mapper, inplace=True)
main_df.head()

,Sample_Code_Number,Clump_Thickness,Uniformity_of_Cell_Size,Uniformity_of_Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [453]:
main_df.describe()

,Sample_Code_Number,Clump_Thickness,Uniformity_of_Cell_Size,Uniformity_of_Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

### Data Head Before Preprocessing

In [454]:
main_df.head()

,Sample_Code_Number,Clump_Thickness,Uniformity_of_Cell_Size,Uniformity_of_Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

## Preprocessing the Data

### Checking for null values and converting all the entries or the data to numeric values

In [455]:
main_df.isna().sum()

Sample_Code_Number             0
Clump_Thickness                0
Uniformity_of_Cell_Size        0
Uniformity_of_Cell_Shape       0
Marginal_Adhesion              0
Single_Epithelial_Cell_Size    0
Bare_Nuclei                    0
Bland_Chromatin                0
Normal_Nucleoli                0
Mitoses                        0
Class                          0
dtype: int64

In [456]:
(main_df == "?").sum()

Sample_Code_Number              0
Clump_Thickness                 0
Uniformity_of_Cell_Size         0
Uniformity_of_Cell_Shape        0
Marginal_Adhesion               0
Single_Epithelial_Cell_Size     0
Bare_Nuclei                    16
Bland_Chromatin                 0
Normal_Nucleoli                 0
Mitoses                         0
Class                           0
dtype: int64

In [457]:
main_df.drop(axis="columns", labels="Sample_Code_Number", inplace=True)
main_df.head()

,Clump_Thickness,Uniformity_of_Cell_Size,Uniformity_of_Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

In [458]:
main_df.dtypes

Clump_Thickness                 int64
Uniformity_of_Cell_Size         int64
Uniformity_of_Cell_Shape        int64
Marginal_Adhesion               int64
Single_Epithelial_Cell_Size     int64
Bare_Nuclei                    object
Bland_Chromatin                 int64
Normal_Nucleoli                 int64
Mitoses                         int64
Class                           int64
dtype: object

In [459]:
main_df["Bare_Nuclei"].unique()

array(['1', '10', '2', '4', '3', '9', '7', '?', '5', '8', '6'],
      dtype=object)

In [460]:
main_df["Bare_Nuclei"].replace("?", np.nan, inplace=True)
main_df["Bare_Nuclei"].unique()

array(['1', '10', '2', '4', '3', '9', '7', nan, '5', '8', '6'],
      dtype=object)

In [461]:
main_df.loc[main_df["Bare_Nuclei"].isna(), :]

,Clump_Thickness,Uniformity_of_Cell_Size,Uniformity_of_Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
23,8,4,5,1,2,NaN,7,3,1,4
40,6,6,6,9,6,NaN,7,8,1,2
139,1,1,1,1,1,NaN,2,1,1,2
145,1,1,3,1,2,NaN,2,1,1,2
158,1,1,2,1,3,NaN,1,1,1,2
164,5,1,1,1,2,NaN,3,1,1,2
235,3,1,4,1,2,NaN,3,1,1,2
249,3,1,1,1,2,NaN,3,1,1,2
275,3,1,3,1,2,NaN,2,1,1,2
292,8,8,8,1,2,NaN,6,10,1,4
294,1,1,1,1,2,NaN,2,1,1,2
297,5,4,3,1,2,NaN,2,3,1,2
315,4,6,5,6,7,NaN,4,9,1,2
321,3,1,1,1,2,NaN,3,1,1,2
411,1,1,1,1,1,NaN,2,1,1,2
617,1,1,1,1,1,NaN,1,1,1,2

In [462]:
main_df.index[main_df["Bare_Nuclei"].isna()] 
# Returns all indices with "nan" in "Bare_Nuclei" column

Int64Index([23, 40, 139, 145, 158, 164, 235, 249, 275, 292, 294, 297, 315, 321,
            411, 617],
           dtype='int64')

In [463]:
main_df.drop(axis="rows", labels=main_df.index[main_df["Bare_Nuclei"].isna()], inplace=True)
main_df.isna().sum()

Clump_Thickness                0
Uniformity_of_Cell_Size        0
Uniformity_of_Cell_Shape       0
Marginal_Adhesion              0
Single_Epithelial_Cell_Size    0
Bare_Nuclei                    0
Bland_Chromatin                0
Normal_Nucleoli                0
Mitoses                        0
Class                          0
dtype: int64

In [464]:
(main_df == "?").sum()

Clump_Thickness                0
Uniformity_of_Cell_Size        0
Uniformity_of_Cell_Shape       0
Marginal_Adhesion              0
Single_Epithelial_Cell_Size    0
Bare_Nuclei                    0
Bland_Chromatin                0
Normal_Nucleoli                0
Mitoses                        0
Class                          0
dtype: int64

In [465]:
main_df.dtypes

Clump_Thickness                 int64
Uniformity_of_Cell_Size         int64
Uniformity_of_Cell_Shape        int64
Marginal_Adhesion               int64
Single_Epithelial_Cell_Size     int64
Bare_Nuclei                    object
Bland_Chromatin                 int64
Normal_Nucleoli                 int64
Mitoses                         int64
Class                           int64
dtype: object

In [466]:
strings = list(main_df["Bare_Nuclei"].unique())

In [467]:
for i in strings:
    main_df["Bare_Nuclei"].replace(i, int(i), inplace=True)

main_df["Bare_Nuclei"].unique()

array([ 1, 10,  2,  4,  3,  9,  7,  5,  8,  6])

In [468]:
main_df.dtypes

Clump_Thickness                int64
Uniformity_of_Cell_Size        int64
Uniformity_of_Cell_Shape       int64
Marginal_Adhesion              int64
Single_Epithelial_Cell_Size    int64
Bare_Nuclei                    int64
Bland_Chromatin                int64
Normal_Nucleoli                int64
Mitoses                        int64
Class                          int64
dtype: object

###  Checking the duplication of rows

we removed the data of Sample Code Number as -

- This has no direct relation with the classification according to my experience.
- It may lead to overfitting of the data
- It will create problem in removing the Duplicate rows

In [469]:
main_df.head()

,Clump_Thickness,Uniformity_of_Cell_Size,Uniformity_of_Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

In [470]:
main_df.index[main_df.duplicated()]
main_df.duplicated().sum()

234

In [471]:
main_df.drop(axis="rows", labels=main_df.index[main_df.duplicated()], inplace=True)
main_df.duplicated().sum()

0

In [472]:
main_df.describe()

,Clump_Thickness,Uniformity_of_Cell_Size,Uniformity_of_Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
count,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000
mean,5.378619,4.222717,4.273942,3.746102,3.879733,4.806236,4.200445,3.828508,1.913140,3.051225
std,2.869029,3.251280,3.141494,3.158413,2.456544,3.880509,2.651634,3.387146,2.068909,0.999801
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,3.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000
50%,5.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,2.000000,1.000000,4.000000
75%,8.000000,7.000000,7.000000,6.000000,5.000000,10.000000,7.000000,7.000000,2.000000,4.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

### Data Head After Preprocessing

In [473]:
main_df.head()

,Clump_Thickness,Uniformity_of_Cell_Size,Uniformity_of_Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

## Train Test Split

As the size of data is not very large we are using 60%(training) to 40%(testing) split as discussed in Tutorial session.

In [474]:
# Separating the expected output from features

y = main_df["Class"].to_numpy()
main_df.drop(axis="columns", labels="Class", inplace=True)
X = main_df.to_numpy()
# print(X)
# print(y)

In [475]:
def train_test_split(X,y,training_size):

    np.random.seed(0)
    random_order = np.random.permutation(X.shape[0])

    # Below given is using random_order to randomly order the rows exactly in same order in both X and y
    X = X[random_order]
    y = y[random_order]

    division = int(training_size*X.shape[0])

    train_x = X[0:division,:]
    train_y = y[0:division]
    test_x = X[division:,:]
    test_y = y[division:]
    
    return (train_x,train_y,test_x,test_y)

In [476]:
train_x,train_y,test_x,test_y = train_test_split(X,y,0.6)

# Classification

## Naive Bayes

### Normalisation of the data

In [477]:
#function to normalise data before finding gradient
# not used -- was creating problems such as division by zero and here we can get accuracy without normalisation
def normalize(train_x,test_x):
    
    mean = []
    std = []

    for i in range(train_x.shape[1]):
        mean.append(train_x[:,i].mean())
        std.append(train_x[:,i].std())

    for i in range(train_x.shape[1]):
        for j in range(train_x.shape[0]):
            train_x[j,i] = (train_x[j,i]-mean[i])
            train_x[j,i] = (train_x[j,i]/std[i])

    for i in range(test_x.shape[1]):
        for j in range(test_x.shape[0]):
            test_x[j,i] = (test_x[j,i]-mean[i])
            test_x[j,i] = (test_x[j,i]/std[i])

    return (train_x,test_x)

In [478]:
train_x_copy = np.ndarray.copy( train_x)
test_x_copy = np.ndarray.copy( test_x)
normalised_train_x,normalised_test_x = normalize(train_x_copy,test_x_copy)
normalised_train_x,normalised_test_x = (train_x,test_x)

### Dividing the data

Assuming that Class distribution which are as follows:
 
- Benign: 458 (65.5%)
- Malignant: 241 (34.5%)

can be considered as corresponding probability of that the class.

In [479]:
# Assumption above
P_b = 0.655
P_m = 0.345

normalised_train_x_b = []
normalised_train_x_m = []
normalised_test_x_b = []
normalised_test_x_m = []

for i in range(train_y.shape[0]):
    if train_y[i] == 2:
        normalised_train_x_b.append(normalised_train_x[i])
    else:
        normalised_train_x_m.append(normalised_train_x[i])

for i in range(test_y.shape[0]):
    if test_y[i] == 2:
        normalised_test_x_b.append(test_x[i])
    else:
        normalised_test_x_m.append(test_x[i])

normalised_train_x_b = np.array(normalised_train_x_b)
normalised_train_x_m = np.array(normalised_train_x_m)
normalised_test_x_b = np.array(normalised_test_x_b)
normalised_test_x_m = np.array(normalised_test_x_m)

total = len(normalised_train_x_b)+len(normalised_test_x_b) + (len(normalised_train_x_m)+len(normalised_test_x_m))
print((len(normalised_train_x_b)+len(normalised_test_x_b))/total)
print((len(normalised_train_x_m)+len(normalised_test_x_m))/total)

0.47438752783964366
0.5256124721603563

In [480]:
norm_train_x_b_mean,norm_train_x_b_std = (np.array(normalised_train_x_b.mean(axis=0)),np.array(np.std(normalised_train_x_b,axis=0)))
norm_train_x_m_mean,norm_train_x_m_std = (np.array(normalised_train_x_m.mean(axis=0)),np.array(np.std(normalised_train_x_m,axis=0)))
norm_test_x_b_mean,norm_test_x_b_std = (np.array(normalised_test_x_b.mean(axis=0)),np.array(np.std(normalised_test_x_b,axis=0)))
norm_test_x_m_mean,norm_test_x_m_std = (np.array(normalised_test_x_m.mean(axis=0)),np.array(np.std(normalised_test_x_m,axis=0)))

In [481]:
def normal(x,mean,sigma):
    return 1/(np.sqrt(2*np.pi)*sigma)*(np.exp(-1*0.5*((x-mean)/sigma)**2))

### Naive Bayes Algo

In [482]:
def naive_bayes(X_temp,mean_array_b_temp,std_array_b_temp,mean_array_m_temp,std_array_m_temp,column):
    
    X = X_temp#[:,column]
    mean_array_b = mean_array_b_temp#[:,column]
    std_array_b = std_array_b_temp#[:,column]
    mean_array_m = mean_array_m_temp#[:,column]
    std_array_m = std_array_m_temp#[:,column]

    y_pred = []

    q_b = 0
    q_m = 0

    for i in X:

        q_b = P_b
        k=0
        for j in i:
            q_b *= normal(j,mean_array_b[k],std_array_b[k])
            k+=1

        q_m = P_m
        k=0
        for j in i:
            q_m *= normal(j,mean_array_m[k],std_array_m[k])
            k+=1

        if(q_b > q_m):
            y_pred.append(2)
        else:
            y_pred.append(4)

    return y_pred

#print(norm_train_x_b_std)
#print(norm_train_x_m_std)
#print(norm_test_x_b_std)
#print(norm_test_x_m_std)

y_pred = naive_bayes(normalised_train_x,norm_train_x_b_mean,norm_train_x_b_std,norm_train_x_m_mean,norm_train_x_m_std,[0,1,2,3,4,5,6,7,8])
y_test_pred = naive_bayes(normalised_test_x,norm_test_x_b_mean,norm_test_x_b_std,norm_test_x_m_mean,norm_test_x_m_std,[0,1,2,3,4,5,6,7,8])

y_pred = np.array(y_pred)
y_test_pred = np.array(y_test_pred)

# print(y_pred)

print(accuracy_score(train_y, y_pred))
print(accuracy_score(test_y, y_test_pred))

0.9405204460966543
0.9666666666666667